.pokemon-card {
	inline-size: 12.5rem;
	block-size: 6.25rem;
}

.pokemon-card__wrapper {
	height: inherit;
	width: 100%;
}

.pokemon-card__info {
	display: grid;
	height: inherit;
	/*border: 1px solid #000;*/
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-template-areas:
		 "title image image"
		 "types image image"
		 ". . .";
	justify-items: flex-start;
}

.pokemon-card__image {
	grid-area: image;
}

.pokemon-card__title {
	grid-area: title;
}

.pokemon-card__types {
	align-self: flex-start;
	grid-area: types;
}